# Using `fpl_data.transform` module

In [1]:
import pandas as pd
from fpl_data.transform import FplApiDataTransformed

pd.set_option('display.max_columns', None)

Load and transform data

In [2]:
data = FplApiDataTransformed()

Getting data from API
...
DONE!

## Players

In [3]:
data.players.sort_values('Pts', ascending=False)

,team_id,position_id,name,Â£,ST,MP,Pts,GS,A,GI,xG,xA,xGI,PPG,Pts90,GS90,A90,GI90,xG90,xA90,xGI90,CS,GC,xGC,GC90,xGC90,OG,PS,PM,YC,RC,S,S90,B,BPS,BPS90,I,C,T,II,II90,TSB%
player_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
395,14,2,R.Varane,5.0,1,90,14,1,0,1,0.6,0.0,0.6,14.0,14.0,1.0,0.0,1.0,0.6,0.0,0.6,1,0,2.3,0.0,2.3,0,0,0,0,0,0,0.0,2,38,38.0,46.6,1.0,37.0,8.5,8.5,3.7
415,15,4,Isak,7.6,1,67,13,2,0,2,0.8,0.0,0.8,13.0,17.5,2.7,0.0,2.7,1.0,0.0,1.0,0,1,1.5,1.3,2.0,0,0,0,0,0,0,0.0,3,51,68.5,68.4,2.7,61.0,13.2,17.7,23.6
355,13,4,Haaland,14.0,1,79,13,2,0,2,0.6,0.0,0.6,13.0,14.8,2.3,0.0,2.3,0.7,0.1,0.7,1,0,0.2,0.0,0.3,0,0,0,0,0,0,0.0,3,56,63.8,67.6,23.7,48.0,13.9,15.8,90.8
365,13,3,Rodrigo,5.6,1,90,13,1,1,2,0.5,0.2,0.7,13.0,13.0,1.0,1.0,2.0,0.5,0.2,0.7,1,0,0.3,0.0,0.3,0,0,0,0,0,0,0.0,2,42,42.0,70.2,18.8,64.0,15.3,15.3,7.7
275,10,1,Leno,4.5,1,90,12,0,0,0,0.0,0.0,0.0,12.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,2.7,0.0,2.7,0,0,0,0,0,9,9.0,3,46,46.0,75.0,0.0,0.0,7.5,7.5,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,1,2,J.Timber,4.9,1,49,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.3,0.0,0.5,0,0,0,1,0,0,0.0,0,3,5.5,0.0,0.0,0.0,0.0,0.0,3.4
41,2,2,Diego Carlos,4.5,0,26,0,0,0,0,0.3,0.0,0.3,0.0,0.0,0.0,0.0,0.0,0.9,0.0,0.9,0,2,1.6,6.9,5.7,0,0,0,0,0,0,0.0,0,6,20.8,9.4,0.4,37.0,4.7,16.3,0.5
42,2,2,Digne,4.5,1,90,-1,0,0,0,0.0,0.2,0.2,-1.0,-1.0,0.0,0.0,0.0,0.0,0.2,0.2,0,5,3.4,5.0,3.4,0,0,0,1,0,0,0.0,0,13,13.0,13.2,45.2,2.0,6.0,6.0,1.2
36,2,2,Cash,4.5,1,86,-1,0,0,0,0.7,0.0,0.7,-1.0,-1.0,0.0,0.0,0.0,0.8,0.0,0.8,0,4,2.8,4.2,2.9,0,0,0,1,0,0,0.0,0,1,1.0,3.8,1.8,11.0,1.7,1.8,7.6
184,6,3,Zaroury,5.0,0,30,-2,0,0,0,0.0,0.1,0.1,-2.0,-6.0,0.0,0.0,0.0,0.1,0.2,0.3,0,1,1.4,3.0,4.1,0,0,0,0,1,0,0.0,0,-6,-18.0,0.0,0.0,0.0,0.0,0.0,0.1

## Fixtures

In [5]:
data.fixtures[0]

{'code': 2367552,
 'event': None,
 'finished': False,
 'finished_provisional': False,
 'id': 15,
 'kickoff_time': None,
 'minutes': 0,
 'provisional_start_time': False,
 'started': None,
 'team_a': 6,
 'team_a_score': None,
 'team_h': 12,
 'team_h_score': None,
 'stats': [],
 'team_h_difficulty': 2,
 'team_a_difficulty': 2,
 'pulse_id': 93335}

In [9]:
team_names = data.teams[['team']]

fixtures = pd.json_normalize(
    data.fixtures
).merge(
    # join to team names (home)
    team_names,
    left_on='team_h',
    right_on='team_id',
    suffixes=[None, '_home']
).merge(
    # join to team names (away)
    team_names,
    left_on='team_a',
    right_on='team_id',
    suffixes=[None, '_away']
).rename(
    columns={
        'id': 'fixture_id',
        'event': 'GW',
        'team': 'team_home'
    }
).drop(
    ['code', 'finished_provisional', 'kickoff_time', 'minutes',
     'provisional_start_time', 'started', 'stats', 'pulse_id'],
    axis=1
)
fixtures

,GW,finished,fixture_id,team_a,team_a_score,team_h,team_h_score,team_h_difficulty,team_a_difficulty,team_home,team_away
0,NaN,False,15,6,NaN,12,NaN,2,2,LUT,BUR
1,22.0,False,220,6,NaN,13,NaN,2,5,MCI,BUR
2,12.0,False,111,6,NaN,1,NaN,2,4,ARS,BUR
3,10.0,False,93,6,NaN,3,NaN,2,2,BOU,BUR
4,16.0,False,152,6,NaN,5,NaN,2,3,BHA,BUR
...,...,...,...,...,...,...,...,...,...,...,...
375,35.0,False,350,12,NaN,20,NaN,2,2,WOL,LUT
376,30.0,False,300,12,NaN,18,NaN,2,3,TOT,LUT
377,10.0,False,92,12,NaN,2,NaN,2,3,AVL,LUT
378,37.0,False,369,12,NaN,19,NaN,2,3,WHU,LUT
379,28.0,False,276,12,NaN,8,NaN,2,2,CRY,LUT

In [10]:
# filter between start_gw and end_gw
start_gw = data.next_gw

end_gw = start_gw + 8

fixtures = fixtures[
    (fixtures['GW'] >= start_gw) & (fixtures['GW'] <= end_gw)]

fixtures

,GW,finished,fixture_id,team_a,team_a_score,team_h,team_h_score,team_h_difficulty,team_a_difficulty,team_home,team_away
3,10.0,False,93,6,NaN,3,NaN,2,2,BOU,BUR
7,7.0,False,66,6,NaN,15,NaN,2,4,NEW,BUR
8,9.0,False,83,6,NaN,4,NaN,2,3,BRE,BUR
11,5.0,False,47,6,NaN,16,NaN,2,2,NFO,BUR
19,4.0,False,38,19,NaN,12,NaN,2,2,LUT,WHU
...,...,...,...,...,...,...,...,...,...,...,...
366,7.0,False,63,12,NaN,9,NaN,2,2,EVE,LUT
370,3.0,False,26,12,NaN,7,NaN,2,3,CHE,LUT
372,9.0,False,88,12,NaN,16,NaN,2,2,NFO,LUT
373,5.0,False,44,12,NaN,10,NaN,2,2,FUL,LUT
377,10.0,False,92,12,NaN,2,NaN,2,3,AVL,LUT

In [17]:
fx_ratings, fx_team_names = data.get_fixtures_matrix()
fx_ratings

GW      3.0  4.0  5.0  6.0  7.0  8.0
team_h
1       2.0  3.0  2.0  3.0  2.0  5.0
2       2.0  4.0  2.0  3.0  3.0  2.0
3       3.0  3.0  3.0  3.0  4.0  2.0
4       2.0  2.0  4.0  2.0  2.0  4.0
5       2.0  4.0  4.0  2.0  3.0  4.0
6       3.0  3.0  2.0  3.0  4.0  3.0
7       2.0  2.0  2.0  3.0  2.0  2.0
8       3.0  2.0  3.0  2.0  4.0  2.0
9       2.0  2.0  4.0  3.0  2.0  2.0
10      4.0  5.0  2.0  2.0  3.0  2.0
11      4.0  3.0  2.0  2.0  3.0  3.0
12      3.0  2.0  2.0  2.0  2.0  3.0
13      2.0  2.0  3.0  2.0  2.0  4.0
14      2.0  4.0  3.0  2.0  2.0  3.0
15      4.0  3.0  3.0  2.0  2.0  3.0
16      4.0  3.0  2.0  5.0  3.0  2.0
17      5.0  2.0  3.0  4.0  3.0  2.0
18      2.0  2.0  2.0  4.0  4.0  2.0
19      3.0  2.0  5.0  4.0  2.0  4.0
20      2.0  2.0  4.0  2.0  5.0  3.0

In [12]:
str_lookup = {}
for i, r in data.teams.iterrows():
    str_lookup[r['team']] = r['strength']

In [13]:
def style_background(cell_value):

    bg = 'background-color:'

    try:
        team_str = str_lookup[cell_value[:3]]
    except (KeyError, TypeError) as error:
        team_str = cell_value

    if team_str == 1:
        return f'{bg} darkgreen;'
    elif team_str == 2:
        return f'{bg} green;'
    elif team_str == 3:
        return f'{bg} grey;'
    elif team_str == 4:
        return f'{bg} orange;'
    elif team_str == 5:
        return f'{bg} darkred;'
    else:
        return ''

In [14]:
fx_ratings.style.applymap(style_background)

In [15]:
fx_team_names.style.applymap(style_background)

In [16]:
data.teams

,team_name_long,team,strength,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away
team_id,,,,,,,,,
1,Arsenal,ARS,4,1230,1285,1250,1250,1210,1320
2,Aston Villa,AVL,3,1115,1175,1130,1190,1100,1160
3,Bournemouth,BOU,3,1060,1095,1050,1100,1060,1090
4,Brentford,BRE,3,1125,1205,1120,1220,1130,1190
5,Brighton,BHA,3,1165,1210,1120,1200,1210,1240
6,Burnley,BUR,2,1060,1080,1060,1080,1060,1080
7,Chelsea,CHE,3,1115,1160,1130,1210,1100,1110
8,Crystal Palace,CRY,3,1100,1100,1140,1170,1080,1085
9,Everton,EVE,3,1075,1100,1070,1120,1080,1080
10,Fulham,FUL,3,1095,1100,1090,1090,1100,1140
11,Liverpool,LIV,4,1220,1285,1170,1270,1260,1300
12,Luton,LUT,2,1045,1050,1050,1050,1040,1050
13,Man City,MCI,5,1350,1355,1320,1340,1320,1370
14,Man Utd,MUN,4,1145,1275,1150,1310,1140,1240
15,Newcastle,NEW,4,1220,1280,1250,1310,1190,1250
16,Nott'm Forest,NFO,3,1050,1100,1050,1110,1050,1120
17,Sheffield Utd,SHU,2,1045,1070,1050,1060,1040,1080
18,Spurs,TOT,3,1130,1200,1110,1200,1150,1200
19,West Ham,WHU,3,1095,1140,1100,1150,1090,1130
20,Wolves,WOL,3,1065,1100,1070,1160,1060,1080